@import "../../libraries/Styles/utils/variables.scss";

.lossnetworkmodal-container{
  position: fixed;
  top: 5%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: $neutral-midnight;
  z-index: 999;
  border-radius:$border-radius-base;
  padding:12px;
}