.navbar-iconpanel-container{
    height: 100%;
    padding: 12px 0;
    position: relative;

    &:hover{
        background-color: var(--color-main4);
    }

    &--active{
        background-color: var(--color-main4);

        &:before{
            content:"";
            position:absolute;
            left:0;
            width:3px;
            height:100%;
            background-color: var(--color-main3);
            border-radius:0 5px 5px 0;
        }
    }

    &.hasNotification {
        
        div {
            position:relative;

            :after {
                content: "";
                position: absolute;
                width:9px;
                height:9px;
                border-radius: 50%;
                background-color: #FF4D54;
                top:-1.5px;
                right:-2.5px;
            }
        }
    }

    .navbar-iconpanel-icon{
        background-repeat: no-repeat;
        width: 24px;
        height: 24px;
    }
}

/* ------------------------------------------------ RESPONSIVE ----------------------- */

@media only screen and (max-width:768px){   
    .navbar-iconpanel-container{
        flex: 1;

        &--active{
            background-color: var(--color-main4);
            border-left: none;
            border-bottom: 2px solid var(--color-main3);

            &:before{
                display: none;
            }
        } 
    }
}
