// @import url("../../Styles/Variables.css");
@import "../../Styles/utils/variables.scss";

.custominput-container {
    position: relative;

    textarea {
        min-height: 20px;
        font-family: 'Roboto',sans-serif;
        // width: 100%;
        // box-sizing: border-box;
        // /* border: 1px solid #ccc; */
        // border: 1px solid $state-bg-1;
        // /* border-radius: 6px; */
        // /* font-size: 14px; */
        // /* font-family: 'Roboto'; */
        // resize: none; /* user can resize vertically, but width is fixed */
        // background-color: $neutral-white;
        // /* background-image: url('../../../../libraries/Icons/iconsearch.svg');
        // background-position: right; */
        // background-repeat: no-repeat;
        // padding: 8px;

        // &:focus,
        // &:hover
        // {
        //     outline: none;
        //     border: 1px solid $accent-dodger-blue;
        // }
        
        // &::placeholder {
        //     color: $neutral-bombay;
        // }

        ::-webkit-scrollbar-track{
            border-radius: 12px;
            -webkit-border-radius: 12px;
            -moz-border-radius: 12px;
            -ms-border-radius: 12px;
            -o-border-radius: 12px;
        }
    }

    input {
        width: 100%;
        box-sizing: border-box;
        border: 1px solid $state-bg-1;
        background-color: $neutral-white;
        background-repeat: no-repeat;

        &:focus,
        &:hover
        {
            outline: none;
            border: 1px solid $accent-dodger-blue;
        }
    }

    .custominput-icon-cleartext {
        position: absolute;
        right: 2%;
        top: 25%;
        width: 20px;
        height: 20px;
        
    }
}

textarea::placeholder {
    text-overflow: ellipsis;
}



