// <-- (Design: Phạm Tuấn Anh)

// Font-size
$font-size-base: 14px;
$font-family-base: 'Roboto', sans-serif;

// Border
$border-radius-base: 8px;
$border-radius-base-small: 4px;

// Color 
$primary-blue: #115DD3;
$primary-cobalt: #FF7F08;
$primary-deep-blue: #002B80;
$neutral-midnight: #1A2948;
$neutral-white: #FFF;
$neutral-bluewood: #33415C;
$neutral-fiord: #4D5971;
$neutral-regent-gray: #808999;
$neutral-pale-sky: #667085;
$neutral-gray-chateau: #99A0AD;
$neutral-athens-gray: #E6E8EB;
$neutral-bombay: #B3B8C2;
$neutral-ghost: #CCCFD6;
$neutral-porcelain: #F2F3F4;
$neutral-white: #FFFFFF;
$semantic-waring-amber-yellow: #FFBE40;
$semantic-warning-mustard: #FFDF5c;
$semantic-error-persian-red: #D13138;
$semantic-error-sunset-red: #FF4D54;
$semantic-info-blue-1: #0195D7;
$semantic-info-blue-2: #4DB9E9;
$semantic-success-jade-green: #33CC5E;
$semantic-success-turquois: #53E6B0;
$accent-dodger-blue: #4080FF;
$accent-100: #D0DEF8;
$accent-500: #1559DE;
$accent-havelock-blue: #668CD9;
$accent-link-warter: #CCD9F2;
$state-default: #115DD3;
$state-hover: #4080FF;
$state-pressed: #002B80;
$state-dissable: #CCCFD6;
$state-bg-1: #EEF0F7;
$state-bg-2: #F5F8FB;
$gradient-blue: linear-gradient(108.17deg, #276CD8 1.82%, #115DD3 98.07%);
$gradien-oranges: linear-gradient(103.55deg, #FF8B20 1.99%, #FF7F08 97.82%);

// Shadow
$shallow-shadow-small: 0px 1px 5px rgba(194, 198, 201, 0.2);
$shallow-shadow: 0px 4px 10px rgba(0, 0, 0, 0.16);
$colored-shadow-small: 0px 4px 4px rgba(64, 128, 255, 0.16);
$colored-shadow: 0px 4px 8px rgba(64, 128, 255, 0.24);

// Huy
// Height
$height-skeleton-navbardetail: 21px;
$height-avatar: 48px;

// Width

