// @import url("../../../../../libraries/Styles/Variables.css");

.popupsignoutgroup-text{
    padding: 1.6rem;
    font-size: var(--fontsize-default2);
    color: var(--color-text--gray);
    border-bottom: 1px solid var(--color-main-border);
}

.popupsignoutgroup-button{
    padding: 0.8rem 2rem;
    display: flex;
    justify-content: center;

    button{
        margin: 0 0.5rem;
    }
}