@import "../utils/variables.scss";
@import "../utils/mixin.scss";

.checkbox {
    .disabled {
        color: $neutral-bombay;
        cursor: default !important;
    }

    label{
        padding-left: 30px !important;
        min-height: 32px;
        line-height: 20px;
        cursor: pointer;
    }

    input {
        position: absolute;
        left: -9999px;
    }

    i {
        position: absolute;
        left: 0;
        margin-top: -2px;
        width: 24px;
        height: 24px;
        border: 1px solid $neutral-bombay;
        background-color: $neutral-white;
        pointer-events: none;
        @include mix-border-radius(4px);
    }

    &:hover i {
        border: 1px solid $accent-dodger-blue;
    }

    input:checked + i {
        background-color: $primary-blue;
        border-color: $primary-blue;
    }

    input + i::after {
        position: absolute;
        content: '\f00c';
        font-weight: 900;
        margin-left: -1px;
        font: normal 14px/22px FontAwesome;
        text-align: center;
        width: 23px;
        height: 23px;
        font-size: $font-size-base;
        color: $primary-blue;
        opacity: 0;
        transition: opacity 0.2s;
        -o-transition: opacity 0.2s;
        -ms-transition: opacity 0.2s;
        -moz-transition: opacity 0.2s;
        -webkit-transition: opacity 0.2s;
    }

    input:checked + i::after {
        color: $neutral-white;
        opacity: 1;
    }

    &:hover input:checked + i {
        background-color: $accent-dodger-blue !important;
        border: $primary-blue !important;
        width: 20px;
        height: 20px;
    }

    &:hover input:checked + i::after {
        margin-left: 0;
        margin-top: 1px;
    }

    &:hover input:disabled + i::after {
        margin-left: -1px;
        margin-top: -1px;
        width: 22px;
        height: 22px;
        border: 1px solid $neutral-bombay !important;
        @include mix-border-radius(4px);
    }

    input:disabled {
        border: 1px solid $neutral-bombay !important;
    }
    
    input:disabled + i{
        background-color: $neutral-porcelain !important;
        color: $neutral-bombay !important;
        border: 1px solid $neutral-bombay !important;
    }
    
    input:disabled + i::after{
        color: $neutral-bombay !important;
    }
    
    &:hover input:disabled + i{
        background-color: $neutral-porcelain !important;
        color: $neutral-bombay !important;
        border: 1px solid $neutral-bombay !important;
    }
    
    &:hover input:disabled + i::after{
        background-color: $neutral-porcelain !important;
        color: $neutral-bombay !important;
    }
}

.radio {
    label {
        padding-left: 32px;
        min-height: 20px;
        line-height: 20px;
        cursor: pointer;
    }

    .disabled {
        color: $neutral-bombay;
        cursor: default !important;
    }

    input {
        position: absolute;
        width: 24px;
        height: 24px;
        left: 0;
        margin: -2px;
    }

    input[type=radio]:before {
        content: '';
        display: inline-block;
        position: absolute;
        width: 22px;
        height: 22px;
        border: 1px solid $primary-blue;
        border-radius: 50%;
    }

    input[type=radio]:after {
        position: absolute;
        content: '';
        width: 16px;
        height: 16px;
        border-radius: 50%;
        top: 4px;
        left: 4px;
        background-color: $primary-blue;
    }

    input[type=radio]:hover:before {
        border: 1px solid $accent-dodger-blue;
    }

    input[type=radio]:hover:after {
        background-color: $accent-dodger-blue;
    }

    input[type=radio]:disabled:before {
        border: 1px solid $neutral-bombay;
    }

    input[type=radio]:disabled:after {
        background-color: $neutral-bombay;
    }
}

.toggle-button {
    width: 48px;
    height: 28px;

    .knobs, .layer {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .button {
        position: absolute;
        // top: 50%;
        width: 48px;
        height: 28px;
        // margin: -20px auto 0 auto;
        overflow: hidden;
    }

    .button, .layer {
        border-radius: 16px;
    }

    .checkbox {
        position: relative;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        opacity: 0;
        cursor: pointer;
        z-index: 3;
    }

    .knobs {
        z-index: 2;
    }

    .layer {
        width: 100%;
        background-color: $neutral-ghost;
        transition: 0.3s ease all6;
        z-index: 1;
    }

    .knobs:before {
        content: '';
        position: absolute;
        top: 2px;
        left: 2px;
        width: 12px;
        height: 12px;
        // color: $accent-dodger-blue;
        font-size: 10px;
        font-weight: bold;
        // text-align: center;
        line-height: 1;
        padding: 6px 6px;
        background-color: $neutral-white;
        border-radius: 50%;
        transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
    }

    .checkbox:checked + .knobs:before {
        content:'';
        left: 22px;
        background-color: $neutral-white;
    }

    .checkbox:checked ~ .layer {
        background-color: $primary-blue;
    }

    .button .knobs, .button .knobs:before, .button .layer {
        transition: 0.3s ease all;
    }

    .disabled {
        .knobs::before {
            opacity: 0.5;
        }

        .checkbox:checked + .knobs:before {
            opacity: 1;
        }

        .layer {
            opacity: 0.5;
        }
    }
}

button {
    padding: 0 16px;
    width: auto;
    min-width: 100px;
    height: 40px;
    text-align: center;
    background-color: $primary-blue;
    cursor: pointer;
    @include body-semibold-hinted;
    @include mix-border-radius();
    color: $neutral-white;
    border: 0;
}

button:hover {
    background-color: $accent-dodger-blue;
}

button:focus {
    background-color: $primary-deep-blue;
    outline: 0;
}

button:disabled {
    background-color: $neutral-bombay;
    cursor: default;
}

.btn-img-left {
    svg {
        display: inline-block;
        vertical-align: middle;
        margin-right: 8px;
    }
}

.btn-img-right {
    svg {
        display: inline-block;
        vertical-align: middle;
        float: right;
        margin-left: 8px;
    }
}

.btn-small { 
    height: 32px;
}

.btn-outline {
    background-color: $neutral-white;
    border: 1px solid $primary-blue;
    color: $primary-blue;
}

.btn-outline:hover {
    background-color: $neutral-white;
    border: 1px solid $accent-dodger-blue;
    color: $accent-dodger-blue;
}

.btn-outline:focus {
    background-color: $neutral-white;
    border: 1px solid $primary-deep-blue;
    color: $primary-deep-blue;
}

.btn-outline:disabled {
    background-color: $neutral-white;
    border: 1px solid $neutral-gray-chateau;
    color: $neutral-gray-chateau;
}